<button mat-stroked-button color="primary" (click)="addExpenseType()">Add New Expense Type</button>

<div class="example-container mat-elevation-z8">

  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="comment">
      <th mat-header-cell *matHeaderCellDef> Comment </th>
      <td mat-cell *matCellDef="let element"> {{element.comment}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="buttons">
      <td mat-cell>
        <button>edit</button>
        <button>delete</button>
      </td>
    </ng-container>
  </table>
</div>
